{% extends 'layout.html' %}

{% block content %}
    <div id="floating-panel">
        <div>
            Enter a pickup and dropoff location below.  We'll give you an estimate of all of uber's services.
        </div>
        <p>
            <b>Pickup: </b>
            <input type="text" id="address_start"/>
        </p>
        <p>
            <b>Dropoff: </b>
            <input type="text" id="address_end"/>
        </p>
        <p>
            <input type="button" id="submit" value="Get Estimate" />
        </p>
        <div id="estimates-container">
            <div id="loading">Loading estimates...</div>
            <ul id="estimates">
            </ul>
        </div>
    </div>
    <div id="map"></div>
    <script>
        function initMap() {
            var directionsService = new google.maps.DirectionsService;
            var startAutocomplete = new google.maps.places.Autocomplete(
                /** @type {!HTMLInputElement} */(document.getElementById('address_start')),
                {types: ['geocode']});
            var endAutocomplete = new google.maps.places.Autocomplete(
                    /** @type {!HTMLInputElement} */(document.getElementById('address_end')),
                    {types: ['geocode']});
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: {lat: 41.85, lng: -87.65}
            });
            directionsDisplay.setMap(map);

            var onChangeHandler = function () {
                calculateAndDisplayRoute(directionsService, directionsDisplay);
            };
            document.getElementById('submit').addEventListener('click', onChangeHandler);
        }

        function showUberResults(result) {
            $.each(result.prices, function(i, o) {
                var li = "<li><span class='ride-title'>" + o.display_name + ":</span><span class='ride-price'>" + o.estimate + "</span></li>";
                $('#estimates').append(li);
            });
        }

        function getUberEstimate(leg) {
            $('#estimates-container').show();
            $('#estimates').empty();
            $('#loading').show();
            $.post("estimate/", data = {
                start_latitude: leg.start_location.lat(),
                start_longitude: leg.start_location.lng(),
                end_latitude: leg.end_location.lat(),
                end_longitude: leg.end_location.lng(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }, function(result) {
                $('#loading').hide();
                $('#estimates').show();
                showUberResults(result);
            }, 'json')
        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay) {
            directionsService.route({
                origin: document.getElementById('address_start').value,
                destination: document.getElementById('address_end').value,
                travelMode: 'DRIVING'
            }, function (response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);

                    var leg = response.routes[0].legs[0];
                    getUberEstimate(leg);

                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS2MgKq6k8zqRAVU3S40XjyNKcE8kthZo&libraries=places&callback=initMap"></script>
{% endblock %}