      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel p {
          margin-top: 5px;
          margin-bottom: 5px;
          float:left;
          margin-right:5px;
          padding:5px;
      }
      #floating-panel input[type=text] {
          width: 400px;
      }
      #estimates-container {
          clear: both;
      }
      #estimates-container, #estimates {
          display: none;
      }

      #estimates {
          padding: 5px;
          margin: 0px;
      }

      #estimates li {
          list-style: none;
          float:left;
          padding: 10px;
      }

      .ride-title {
          font-weight: bold;
          margin-right: 5px;
      }
      .ride-price {
          text-decoration: underline;
      }